# Go9jaJobs API Environment Configuration
# Copy this file to .env and update the values

# Server configuration
PORT=8080
HOST=localhost

# Database configuration
POSTGRES_CONNECTION=postgres://postgres:postgres@localhost:5432/go9jajobs?sslmode=disable

# API Authentication Key
# IMPORTANT: Change this in production to a secure random value
# This key is used for both authentication and signature generation
API_KEY=your_api_key_here
CRON_API_KEY=yoyour_cron_api_key_here

# CORS Configuration - comma-separated list of allowed origins
# Example for allowing a Next.js app running locally and a production domain:
ALLOWED_ORIGINS=http://localhost:8000,https://yourfrontend.com

# Get api keys from rapidapi.com
# and apify.com
RAPID_API_KEY=your_rapid_api_key_here
APIFY_API_KEY=your_apify_api_key_here 

ALLOWED_IPS= http://localhost:8000



# Environment Mode
# dev or production
#environment mode do not forget to change it to production when deploying
MODE=dev

# API Token Logo
# get api key from brandfetch.io
API_TOKEN_LOGO=your_api_token_here


