# Environment variables and secrets
.env
.env.example

# Logs and debugging
*.log
trace.out

# Dependency directories
/bin/
/pkg/
/vendor/

# Build artifacts
*.exe
*.dll
*.so
*.dylib
*.out
*.a

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.cache

# Go build cache
/go-build/
/testdata/

# Go module files

# Google OAuth client secret
client_secret_561335355629-p1gh76iid3ii2irblbgh7bgsqlj7a7ja.apps.googleusercontent.com.json
client_secret_*.json


# Custom files
issuessolved.txt
prmpt.mg
